.top-bar {
    overflow: hidden;
    background-color: #ded79b;
    position: fixed;
    top: 0;
    width: 100%;
}

#main-body {
    background-color: aqua;

    margin-top: 30px;
}

/*.main-title {
    color: #707070;
    font-family: 'Bahnschrift', 'sans-serif';
}

h1.main-title {
    font-size: 50px;
    position: absolute;
    top: -20px;
    left: 450px;
}

h2.main-title {
    font-size: 50px;
    position: absolute;
    top: 40px;
    left: 520px;
}

.nav-button-normal {
    border-radius: 100%;
    border: none;
    font-family: 'Arial Rounded MT', sans-serif;
    color: #707070;
}

.nav-text {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    font-size: 20px;
}

#forumButton {
    width: 250px;
    height: 250px;
    background-color: #9FE7CA;
    position: absolute;
    top: 140px;
    left: 165px;
}

#ecoChatButton {
    width: 200px;
    height: 200px;
    background-color: #D2E7C6;
    border-style: solid;
    border-width: 20px;
    border-color: #67BDB1;
    position: absolute;
    top: 350px;
    left: 350px;
}

#articlesButton {
    width: 170px;
    height: 170px;
    background-color: #AAD4A2;
    position: absolute;
    border-style: solid;
    border-width: 20px;
    border-color: #AAD4A2;
    top: 400px;
    left: 150px;
}

.main-text {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #707070;
    max-width: 90%;
    font-size: 20px;
}

#main-info-1 {
    position: absolute;
    top: 150px;
    left: 450px;
}

#main-info-2 {
    position: absolute;
    top: 250px;
    left: 450px;
}

#main-info-3 {
    position: absolute;
    top: 300px;
    left: 550px;
}

#main-contacts {
    padding: 10px;
    background-color: #70af96;
}*/












.back-button {
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: bold;
    font-size: 50px;
    border-style: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 20px;
}

#center-title {
    display: flex;
    justify-content: center;
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #707070;
}

#ecoChat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9AC8C2;
    padding: 10px;
    margin: auto;
    width: 90%;
}

#ecoChat-icon {
    padding: 10px;
    background-color: #4e4e4e;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    /* margin-bottom: 20px; */
    /* margin-left: 20px; */
    align-self: flex-start;
}

.ecoChat-textbox {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: #E1E1E1;
    padding: 10px;
    height: 500px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
}

.ecoChat-inputbox {
    padding: 10px;
    margin-top: 30px;
    /* width: 90%; */
    width: 95%;
    background-color: #E1E1E1;
    border: none;
    outline: none;
}

#articlesOfTheMonth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articlesOfTheMonth {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9AC8C2;
    padding: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-style: solid;
    border-width: 15px;
    border-color: #AAD4A2;
}

.articleList-article {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #C6E7A0;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin: 10px;
    width: 90%;
}

.external-article {
    background-color: #bebebe;
    border-color: rgb(71, 71, 71);
}

.articleList-name {
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.articleList-author {
    color: rgb(63, 63, 63);
}

.articleList-date {
    color: rgb(63, 63, 63);
}

#archivesButtonContainer {
    display: flex;
    justify-content: center;
}

#archivesButton {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: #a8a8a8;
    padding: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(109, 109, 109);
    margin: 20px;
    width: 40%;
}

.archives-search {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: #9FE7CA;
    border-style: solid;
    border-width: 5px;
    border-color: #70af96;
    outline: none;
}

#search-results-title {
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #5e5e5e;
}

.article-archives-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}

#archive-search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #9AC8C2;
    padding: 10px;
    border-style: solid;
    border-width: 15px;
    border-color: #AAD4A2;
}

.general-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
}

.general-title {
    font-size: 30px;
    font-family: 'Arial Rounded MT', sans-serif;
    width: 80%;
}

.general-text {
    font-size: 20px;
    font-family: 'Arial Rounded MT', sans-serif;
    width: 80%;
    margin-right: 10px;
}

td.top
{
   vertical-align: top;
}